<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  
  <link rel="stylesheet" href="/style/style.css">
  <link rel="preconnect" href="https://api.fontshare.com" crossorigin>
  <link rel="preload" as="text" type="text/css" crossorigin
    href="https://api.fontshare.com/v2/css?f[]=satoshi&display=swap" />
  <link rel="preload" as="text" type="text/css" crossorigin
    href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk&display=swap" />
  <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=satoshi&display=swap" />
  <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk&display=swap" />

  <link rel="preconnect" href="https://cdn.jsdelivr.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css">
  <link rel="stylesheet" href="https://unpkg.com/automad-prism-themes@0.3.7/dist/prism-automad-dark.css">
</head>
<body>
  {{ content | safe }}
</body>
</html>