<meta charset="UTF-8">
<title>{{ title }}</title>

<link rel="stylesheet"
  href="https://api.fontshare.com/v2/css?f[]=satoshi@400,400i,700&f[]=cabinet-grotesk@900&display=swap">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap">
<link rel="stylesheet"
  href="https://unpkg.com/automad-prism-themes@0.3.7/dist/prism-automad-dark.css">

<link rel="stylesheet" href="{{ '/style/style.css' }}">
